In [1]:
import os
import pandas as pd
import numpy as np
import operator

In [2]:
dist_2016_path = os.path.join('2016 - DISTRACT.csv')
raw2016 = pd.read_csv(dist_2016_path, header = 0)

dist_2017_path = os.path.join('2017 - DISTRACT.csv')
raw2017 = pd.read_csv(dist_2017_path, header = 0)

dist_2018_path = os.path.join('2018 - DISTRACT.csv')
raw2018 = pd.read_csv(dist_2018_path, header = 0)

acc_2016_path = os.path.join('2016 - ACCIDENT.csv')
raw2016_acc = pd.read_csv(acc_2016_path, header = 0)

acc_2017_path = os.path.join('2017 - ACCIDENT.csv')
raw2017_acc = pd.read_csv(acc_2017_path, header = 0)

acc_2018_path = os.path.join('2018 - ACCIDENT.csv')
raw2018_acc = pd.read_csv(acc_2018_path, header = 0)

In [3]:
raw2016['Year'] = '2016'
raw2017['Year'] = '2017'
raw2018['Year'] = '2018'

raw2016_acc['Year'] = '2016'
raw2017_acc['Year'] = '2017'
raw2018_acc['Year'] = '2018'

In [4]:
raw2018.head(5)

,CASENUM,VEH_NO,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,MDRDSTRD,PSUSTRAT,WEIGHT,Year
0,201800381338,1,4,56,208,208,1,9,0,20,187.193308,2018
1,201800381338,2,4,56,208,208,1,9,0,20,187.193308,2018
2,201800381338,3,4,56,208,208,1,9,0,20,187.193308,2018
3,201800381338,4,4,56,208,208,1,9,0,20,187.193308,2018
4,201800381366,1,4,56,214,214,1,7,0,20,149.787336,2018

In [5]:
raw2018_acc.head(5)

,CASENUM,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,VE_TOTAL,VE_FORMS,PVH_INVL,...,RELJCT1_IM,RELJCT2_IM,LGTCON_IM,WEATHR_IM,MAXSEV_IM,NO_INJ_IM,ALCHL_IM,PSUSTRAT,WEIGHT,Year
0,201800381338,4,56,208,208,1,9,4,4,0,...,0,1,1,1,0,0,2,20,187.193308,2018
1,201800381366,4,56,214,214,1,7,3,3,0,...,0,1,1,1,1,1,2,20,149.787336,2018
2,201800381374,4,56,214,214,1,6,2,2,0,...,0,1,2,1,1,2,2,20,76.421258,2018
3,201800383118,4,56,209,209,1,10,2,2,0,...,0,2,1,10,1,1,2,20,265.232273,2018
4,201800383942,4,64,306,64,1,6,2,2,0,...,0,1,1,10,1,1,2,23,78.134540,2018

In [6]:
print("distracted tables:")
print(raw2016.shape)
print(raw2017.shape)
print(raw2018.shape)

print("accident tables:")
print(raw2016_acc.shape)
print(raw2017_acc.shape)
print(raw2018_acc.shape)

distracted tables:
(82178, 12)
(97657, 12)
(86131, 12)
accident tables:
(46511, 52)
(54969, 52)
(48443, 52)

In [7]:
dis_raw = raw2016
dis_raw = dis_raw.append(raw2017)
dis_raw = dis_raw.append(raw2018)
dis_raw = dis_raw.reset_index(drop=True)
print(dis_raw.shape)
dis_raw.head(5)

(265966, 12)

C:\Users\aeori\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,CASENUM,MDRDSTRD,PJ,PSU,PSUSTRAT,PSU_VAR,REGION,STRATUM,URBANICITY,VEH_NO,WEIGHT,Year
0,201600014311,92,388,44,25,44,4,9,2,1,219.795475,2016
1,201600014311,0,388,44,25,44,4,9,2,2,219.795475,2016
2,201600014315,0,388,44,25,44,4,8,2,1,186.634758,2016
3,201600014315,0,388,44,25,44,4,8,2,2,186.634758,2016
4,201600014316,0,388,44,25,44,4,5,2,1,32.222550,2016

In [8]:
acc_raw = raw2016_acc
acc_raw = acc_raw.append(raw2017_acc)
acc_raw = acc_raw.append(raw2018_acc)
acc_raw = acc_raw.reset_index(drop=True)
print(acc_raw.shape)
acc_raw.head(5)

(149923, 52)

,ALCHL_IM,ALCOHOL,CASENUM,CF1,CF2,CF3,DAY_WEEK,EVENT1_IM,HARM_EV,HOUR,...,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WEATHR_IM,WEIGHT,WKDY_IM,WRK_ZONE,YEAR,Year
0,2,2,201600014311,0,0,0,2,12,12,12,...,2,1,1,0,1,219.795475,2,0,2016,2016
1,2,2,201600014315,0,0,0,2,12,12,19,...,2,1,1,0,1,186.634758,2,0,2016,2016
2,2,2,201600014316,0,0,0,3,43,43,6,...,1,1,1,0,1,32.222550,3,0,2016,2016
3,2,9,201600014335,0,0,0,6,12,12,20,...,2,3,3,0,3,317.681532,6,0,2016,2016
4,2,2,201600014586,0,0,0,2,8,8,8,...,1,1,1,0,1,37.251626,2,0,2016,2016

In [22]:
dis_acc=pd.merge(dis_raw,acc_raw,on="CASENUM",how="left")

In [23]:
dis_acc.shape

(265966, 63)

In [24]:
dis_acc.head(10)

,CASENUM,MDRDSTRD,PJ_x,PSU_x,PSUSTRAT_x,PSU_VAR_x,REGION_x,STRATUM_x,URBANICITY_x,VEH_NO,...,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WEATHR_IM,WEIGHT_y,WKDY_IM,WRK_ZONE,YEAR,Year_y
0,201600014311,92,388,44,25,44,4,9,2,1,...,2,1,1,0,1,219.795475,2,0,2016,2016
1,201600014311,0,388,44,25,44,4,9,2,2,...,2,1,1,0,1,219.795475,2,0,2016,2016
2,201600014315,0,388,44,25,44,4,8,2,1,...,2,1,1,0,1,186.634758,2,0,2016,2016
3,201600014315,0,388,44,25,44,4,8,2,2,...,2,1,1,0,1,186.634758,2,0,2016,2016
4,201600014316,0,388,44,25,44,4,5,2,1,...,1,1,1,0,1,32.222550,3,0,2016,2016
5,201600014335,0,388,44,25,44,4,10,2,1,...,2,3,3,0,3,317.681532,6,0,2016,2016
6,201600014335,0,388,44,25,44,4,10,2,2,...,2,3,3,0,3,317.681532,6,0,2016,2016
7,201600014586,0,170,24,24,24,4,2,2,1,...,1,1,1,0,1,37.251626,2,0,2016,2016
8,201600014593,0,170,24,24,24,4,10,2,1,...,2,1,1,0,1,379.905770,4,0,2016,2016
9,201600014593,0,170,24,24,24,4,10,2,2,...,2,1,1,0,1,379.905770,4,0,2016,2016

In [26]:
dis_acc.columns

Index(['CASENUM', 'MDRDSTRD', 'PJ_x', 'PSU_x', 'PSUSTRAT_x', 'PSU_VAR_x',
       'REGION_x', 'STRATUM_x', 'URBANICITY_x', 'VEH_NO', 'WEIGHT_x', 'Year_x',
       'ALCHL_IM', 'ALCOHOL', 'CF1', 'CF2', 'CF3', 'DAY_WEEK', 'EVENT1_IM',
       'HARM_EV', 'HOUR', 'HOUR_IM', 'INT_HWY', 'LGTCON_IM', 'LGT_COND',
       'MANCOL_IM', 'MAN_COLL', 'MAXSEV_IM', 'MAX_SEV', 'MINUTE', 'MINUTE_IM',
       'MONTH', 'NO_INJ_IM', 'NUM_INJ', 'PEDS', 'PERMVIT', 'PERNOTMVIT',
       'PJ_y', 'PSU_y', 'PSUSTRAT_y', 'PSU_VAR_y', 'PVH_INVL', 'REGION_y',
       'RELJCT1', 'RELJCT1_IM', 'RELJCT2', 'RELJCT2_IM', 'REL_ROAD', 'SCH_BUS',
       'STRATUM_y', 'TYP_INT', 'URBANICITY_y', 'VE_FORMS', 'VE_TOTAL',
       'WEATHER', 'WEATHER1', 'WEATHER2', 'WEATHR_IM', 'WEIGHT_y', 'WKDY_IM',
       'WRK_ZONE', 'YEAR', 'Year_y'],
      dtype='object')

In [63]:
dis_acc_cut=dis_acc.loc[:,['CASENUM', 'MDRDSTRD', 'ALCOHOL', 'MAX_SEV','NUM_INJ','WEATHER','INT_HWY','HARM_EV','LGT_COND','MAN_COLL', 
                           'TYP_INT','WRK_ZONE','REL_ROAD','PERMVIT','VE_TOTAL','VE_FORMS','VEH_NO',
                           'PJ_x', 'PSU_x', 'PSUSTRAT_x', 'PSU_VAR_x','REGION_x', 'STRATUM_x', 'URBANICITY_x','WEIGHT_x', 'Year_x', 
                           'PJ_y', 'PSU_y', 'PSUSTRAT_y', 'PSU_VAR_y','REGION_y','STRATUM_y',  'URBANICITY_y', 'WEIGHT_y','Year_y']]

In [64]:
dis_acc_cut['ALCOHOL']=dis_acc_cut['ALCOHOL'].replace({1:"Alcohol Involved", 2:"No Alcohol Involved", 8:"No Applicable Person", 9:"Unknown"})
dis_acc_cut['REGION_x']=dis_acc_cut['REGION_x'].replace({1:"northeast",2:"midwest",3:"South",4:"West"})
dis_acc_cut['REGION_y']=dis_acc_cut['REGION_y'].replace({1:"northeast",2:"midwest",3:"South",4:"West"})
dis_acc_cut['URBANICITY_y']=dis_acc_cut['URBANICITY_y'].replace({1:"Urban", 2:"Rural"})
dis_acc_cut['URBANICITY_x']=dis_acc_cut['URBANICITY_x'].replace({1:"Urban", 2:"Rural"})
dis_acc_cut['MAX_SEV']=dis_acc_cut['MAX_SEV'].replace({0:"No Apparent Injury", 1:"Possible Injury", 2:"Suspected Minor Injury", 3:"Suspected Serious Injury", 4:"Fatal", 5:"Injured, Severity Unknown", 6:"Died Prior to Crash", 8:"No Person Involved in Crash", 9:"Unknown/Not Reported"})
dis_acc_cut['NUM_INJ']=dis_acc_cut['NUM_INJ'].replace({0:"No Person Inj/Prop Damage Only", 98:"No Person Involved in Crash", 99:"All Persons in Crash Unknown if Inj"})
dis_acc_cut['INT_HWY']=dis_acc_cut['INT_HWY'].replace({0:"No", 1:"Yes", 9:"Unknown"})
dis_acc_cut['WEATHER']=dis_acc_cut['WEATHER'].replace({0:"No Add. Condition", 1:"Clear", 2:"Rain", 3:"Sleet or Hail", 4:"Snow",5:"Fog,Smog,Smoke",6:"Severe Crosswinds",7:"Blowing Sand, Soil, Dirt",8:"Other",10:"Cloudy", 11:"Blowing Snow", 12:"Freezing Rain or Drizzle", 98:"Not Reported", 99:"Unknown"})
dis_acc_cut['LGT_COND']=dis_acc_cut['LGT_COND'].replace({1:"daylight",2:"dark not lighted",3:"dark lighted",4:"dawn",5:"dusk",6:"dark unknown lighting",7:"other",8:"not reported", 9:"unknown"})
dis_acc_cut['MDRDSTRD']=dis_acc_cut['MDRDSTRD'].replace({0:'Not Distracted',
                                                         1:'Looked But Did Not See',
                                                         3:'By Other Occupants',
                                                         4:'By a Moving Object In Vehicle',
                                                         5:'Cell Phone',
                                                         6:'Cell Phone',
                                                         7:'Adjusting Audio or Climate Controls',
                                                         9:'Adjusting Audio or Climate Controls',
                                                         10:'Reaching ',
                                                         12:'Distracted from outside',
                                                         13:'Eating or Drinking',
                                                         14:'Smoking Related',
                                                         15:'Cell Phone',
                                                         16:'No Driver',
                                                         17:'Distracted/Unknown Reason',
                                                         18:'Distracted/Unknown Reason',
                                                         19:'Distracted/Unknown Reason',
                                                         92:'Distracted/Unknown Reason',
                                                         93:'Distracted/Unknown Reason',
                                                         96:'Not Reported',
                                                         97:'Day Dreaming',
                                                         98:'Distracted/Unknown Reason',
                                                         99:'Not Distracted'})

In [67]:
dis_acc_cut['HARM_EV']=dis_acc_cut['HARM_EV'].replace({1:"Non-collision harmful events",
                                                      2:"Non-collision harmful events",
                                                      3:"Non-collision harmful events",
                                                      4:"Non-collision harmful events",
                                                      5:"Non-collision harmful events",
                                                      6:"Non-collision harmful events",
                                                      7:"Non-collision harmful events",
                                                      16:"Non-collision harmful events",
                                                      44:"Non-collision harmful events",
                                                      51:"Non-collision harmful events",
                                                      72:"Non-collision harmful events",
                                                      12:"Collision w Motor Vehicle in Transport",
                                                      54:"Collision w Motor Vehicle in Transport",
                                                      55:"Collision w Motor Vehicle in Transport",
                                                      8:"Collision w Object not fixed",
                                                      9:"Collision w Object not fixed",
                                                      10:"Collision w Object not fixed",
                                                      11:"Collision w Object not fixed",
                                                      14:"Collision w Object not fixed",
                                                      15:"Collision w Object not fixed",
                                                      18:"Collision w Object not fixed",
                                                      45:"Collision w Object not fixed",
                                                      49:"Collision w Object not fixed",
                                                      73:"Collision w Object not fixed",
                                                      74:"Collision w Object not fixed",
                                                      91:"Collision w Object not fixed",
                                                      17:"Collision w Fixed Object",
                                                      19:"Collision w Fixed Object",
                                                      20:"Collision w Fixed Object",
                                                      21:"Collision w Fixed Object",
                                                      23:"Collision w Fixed Object",
                                                      24:"Collision w Fixed Object",
                                                      25:"Collision w Fixed Object",
                                                      26:"Collision w Fixed Object",
                                                      30:"Collision w Fixed Object",
                                                      31:"Collision w Fixed Object",
                                                      32:"Collision w Fixed Object",
                                                      33:"Collision w Fixed Object",
                                                      34:"Collision w Fixed Object",
                                                      35:"Collision w Fixed Object",
                                                      38:"Collision w Fixed Object",
                                                      39:"Collision w Fixed Object",
                                                      40:"Collision w Fixed Object",
                                                      41:"Collision w Fixed Object",
                                                      42:"Collision w Fixed Object",
                                                      43:"Collision w Fixed Object",
                                                      46:"Collision w Fixed Object",
                                                      48:"Collision w Fixed Object",
                                                      50:"Collision w Fixed Object",
                                                      52:"Collision w Fixed Object",
                                                      53:"Collision w Fixed Object",
                                                      57:"Collision w Fixed Object",
                                                      58:"Collision w Fixed Object",
                                                      59:"Collision w Fixed Object",
                                                      93:"Collision w Fixed Object",
                                                      99:"Collision w Fixed Object"})
dis_acc_cut['MAN_COLL']=dis_acc_cut['MAN_COLL'].replace({0:"Not Collision", 1:"Front-to-Rear", 2:"Front-to-front", 6:"Angle", 7:"Sideswipe, same direction", 8:"Sideswipe, opposite direction", 9:"Rear-to-side", 10:"Rear-to-rear", 11:"Other",98:"Not Reported/Unknown", 99:"Not Reported/Unknown"})
dis_acc_cut['TYP_INT']=dis_acc_cut['TYP_INT'].replace({1:"Not an Intersection", 2:"Four-way int.", 3:"T-int.", 4:"Y-int.", 5:"Traffic circle", 6:"Roundabout", 7:"Five-point or more", 10:"L-int.", 98:"Not Reported/Unknown", 99:"Not Reported/Unknown"})
dis_acc_cut['REL_ROAD']=dis_acc_cut['REL_ROAD'].replace({1:"on roadway",2:"on shoulder", 3:"on median", 4:"on roadside", 5:"outside traffiway", 6:"off roadway", 7:"parking lane/zone", 8:"gore", 10:"separator", 11:"continuous left turn lane", 98:"Not Reported/Unknown", 99:"Not Reported/Unknown"})

In [68]:
dis_acc_cut.head(10)

,CASENUM,MDRDSTRD,ALCOHOL,MAX_SEV,NUM_INJ,WEATHER,INT_HWY,HARM_EV,LGT_COND,MAN_COLL,...,Year_x,PJ_y,PSU_y,PSUSTRAT_y,PSU_VAR_y,REGION_y,STRATUM_y,URBANICITY_y,WEIGHT_y,Year_y
0,201600014311,Distracted/Unknown Reason,No Alcohol Involved,No Apparent Injury,No Person Inj/Prop Damage Only,Clear,No,Collision w Motor Vehicle in Transport,daylight,"Sideswipe, same direction",...,2016,388,44,25,44,West,9,Rural,219.795475,2016
1,201600014311,Not Distracted,No Alcohol Involved,No Apparent Injury,No Person Inj/Prop Damage Only,Clear,No,Collision w Motor Vehicle in Transport,daylight,"Sideswipe, same direction",...,2016,388,44,25,44,West,9,Rural,219.795475,2016
2,201600014315,Not Distracted,No Alcohol Involved,Possible Injury,4,Clear,No,Collision w Motor Vehicle in Transport,dark lighted,Front-to-front,...,2016,388,44,25,44,West,8,Rural,186.634758,2016
3,201600014315,Not Distracted,No Alcohol Involved,Possible Injury,4,Clear,No,Collision w Motor Vehicle in Transport,dark lighted,Front-to-front,...,2016,388,44,25,44,West,8,Rural,186.634758,2016
4,201600014316,Not Distracted,No Alcohol Involved,Suspected Serious Injury,1,Clear,No,Collision w Fixed Object,dark lighted,Not Collision,...,2016,388,44,25,44,West,5,Rural,32.222550,2016
5,201600014335,Not Distracted,Unknown,No Apparent Injury,No Person Inj/Prop Damage Only,Sleet or Hail,No,Collision w Motor Vehicle in Transport,dark lighted,Front-to-front,...,2016,388,44,25,44,West,10,Rural,317.681532,2016
6,201600014335,Not Distracted,Unknown,No Apparent Injury,No Person Inj/Prop Damage Only,Sleet or Hail,No,Collision w Motor Vehicle in Transport,dark lighted,Front-to-front,...,2016,388,44,25,44,West,10,Rural,317.681532,2016
7,201600014586,Not Distracted,No Alcohol Involved,Suspected Minor Injury,1,Clear,No,Collision w Object not fixed,daylight,Not Collision,...,2016,170,24,24,24,West,2,Rural,37.251626,2016
8,201600014593,Not Distracted,No Alcohol Involved,No Apparent Injury,No Person Inj/Prop Damage Only,Clear,No,Collision w Motor Vehicle in Transport,daylight,Front-to-Rear,...,2016,170,24,24,24,West,10,Rural,379.905770,2016
9,201600014593,Not Distracted,No Alcohol Involved,No Apparent Injury,No Person Inj/Prop Damage Only,Clear,No,Collision w Motor Vehicle in Transport,daylight,Front-to-Rear,...,2016,170,24,24,24,West,10,Rural,379.905770,2016

In [69]:
dis_acc_path = os.path.join('Results','acc_dis.csv')
dis_acc_cut.to_csv(dis_acc_path)