In [1]:
import os
import pandas as pd
import numpy as np
import operator

In [52]:
dist_2016_path = os.path.join('2016 - DISTRACT.csv')
raw2016 = pd.read_csv(dist_2016_path, header = 0)

dist_2017_path = os.path.join('2017 - DISTRACT.csv')
raw2017 = pd.read_csv(dist_2017_path, header = 0)

dist_2018_path = os.path.join('2018 - DISTRACT.csv')
raw2018 = pd.read_csv(dist_2018_path, header = 0)

viol_2016_path = os.path.join('2016 - VIOLATN.csv')
raw2016_viol = pd.read_csv(viol_2016_path, header = 0)

viol_2017_path = os.path.join('2017 - VIOLATN.csv')
raw2017_viol = pd.read_csv(viol_2017_path, header = 0)

viol_2018_path = os.path.join('2018 - VIOLATN.csv')
raw2018_viol = pd.read_csv(viol_2018_path, header = 0)

In [53]:
raw2016['Year'] = '2016'
raw2017['Year'] = '2017'
raw2018['Year'] = '2018'

raw2016_viol['Year'] = '2016'
raw2017_viol['Year'] = '2017'
raw2018_viol['Year'] = '2018'

In [4]:
raw2018.head(5)

,CASENUM,VEH_NO,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,MDRDSTRD,PSUSTRAT,WEIGHT,Year
0,201800381338,1,4,56,208,208,1,9,0,20,187.193308,2018
1,201800381338,2,4,56,208,208,1,9,0,20,187.193308,2018
2,201800381338,3,4,56,208,208,1,9,0,20,187.193308,2018
3,201800381338,4,4,56,208,208,1,9,0,20,187.193308,2018
4,201800381366,1,4,56,214,214,1,7,0,20,149.787336,2018

In [62]:
big_raw = raw2016
big_raw = big_raw.append(raw2017)
big_raw = big_raw.append(raw2018)
big_raw = big_raw.reset_index()

viol_raw = raw2016_viol
viol_raw = viol_raw.append(raw2017_viol)
viol_raw = viol_raw.append(raw2018_viol)
viol_raw

            CASENUM  MVIOLATN  Year
0      2.016000e+11         0  2016
1      2.016000e+11         0  2016
2      2.016000e+11        49  2016
3      2.016000e+11        75  2016
4      2.016000e+11         4  2016
5      2.016000e+11         0  2016
6      2.016000e+11         0  2016
7      2.016000e+11        23  2016
8      2.016000e+11        23  2016
9      2.016000e+11         0  2016
10     2.016000e+11        23  2016
11     2.016000e+11         0  2016
12     2.016000e+11         0  2016
13     2.016000e+11         0  2016
14     2.016000e+11        61  2016
15     2.016000e+11         0  2016
16     2.016000e+11        46  2016
17     2.016000e+11         0  2016
18     2.016000e+11         0  2016
19     2.016000e+11        46  2016
20     2.016000e+11         0  2016
21     2.016000e+11        58  2016
22     2.016000e+11         0  2016
23     2.016000e+11         0  2016
24     2.016000e+11         0  2016
25     2.016000e+11        23  2016
26     2.016000e+11        71  2016
27     2.016000e+11        75  2016
28     2.016000e+11         0  2016
29     2.016000e+11         0  2016
...             ...       ...   ...
91369  2.018010e+11         0  2018
91370  2.018010e+11        97  2018
91371  2.018010e+11         0  2018
91372  2.018010e+11         0  2018
91373  2.018010e+11         0  2018
91374  2.018010e+11         0  2018
91375  2.018010e+11         0  2018
91376  2.018010e+11         0  2018
91377  2.018010e+11         0  2018
91378  2.018010e+11         0  2018
91379  2.018010e+11         0  2018
91380  2.018010e+11         0  2018
91381  2.018010e+11         0  2018
91382  2.018010e+11         0  2018
91383  2.018010e+11         0  2018
91384  2.018010e+11         0  2018
91385  2.018010e+11         0  2018
91386  2.018010e+11         0  2018
91387  2.018010e+11         0  2018
91388  2.018010e+11         0  2018
91389  2.018010e+11         0  2018
91390  2.018010e+11         0  2018
91391  2.018010e+11         0  2018
91392  2.018010e+11         0  2018
91393  2.018010e+11         0  2018
91394  2.018010e+11         0  2018
91395  2.018010e+11         0  2018
91396  2.018010e+11         0  2018
91397  2.018010e+11         0  2018
91398  2.018010e+11         0  2018

[283113 rows x 3 columns]

In [6]:
dist_legend = pd.DataFrame([[0,'Not Distracted'],[1,'Looked But Did Not See'],[3,'By Other Occupants'],[4,'By a Moving Object In Vehicle'],[5,'While Talking Or Listening to Cellular Phone'],[6,'While Manipulating Cellular Phone'],[7,'While Adjusting Audio or Climate Controls'],[9,'While Adjusting Audio or Climate Controls'],[10,'While Using Or Recahing For Device'],[12,'Distracted By Outside Person'],[13,'Eating Or Drinking'],[14,'Smoking Related'],[15,'Other Cellular Phone Related'],[16,'No Driver Present'],[17,'Distracted'],[18,'Distracted'],[19,'Distracted'],[92,'Distracted'],[93,'Distracted'],[99,'Not Distracted']])

In [61]:
grouped = big_raw.groupby(['CASENUM']).max()
grouped_viol = viol_raw.groupby(['MVIOLATN']).count()
grouped_viol

          CASENUM    Year
MVIOLATN
0          198112  198112
1              60      60
2             724     724
3             573     573
4            9193    9193
5              93      93
6              56      56
7            1318    1318
8             554     554
9              64      64
10             97      97
11           3551    3551
12            195     195
13             35      35
14             27      27
15            165     165
16             28      28
18             52      52
19            522     522
21             34      34
22            233     233
23           4659    4659
24             15      15
26             14      14
29            845     845
31           1709    1709
32             38      38
33            112     112
34             22      22
35            198     198
...           ...     ...
55              2       2
56             10      10
58           9152    9152
59            196     196
61           2142    2142
62            170     170
63              6       6
66              4       4
67              3       3
69           3357    3357
71           3010    3010
72           5478    5478
73             44      44
74           1584    1584
75           1830    1830
76           4152    4152
79            694     694
81             58      58
82             55      55
83            713     713
84             51      51
86             70      70
89            385     385
91             18      18
92             25      25
93             35      35
95            550     550
97           1696    1696
98           5962    5962
99           2860    2860

[75 rows x 2 columns]

In [36]:
grouped = grouped.replace({'MDRDSTRD':{0:'Not Distracted',96:'Not Distracted',99:'Not Distracted',17:'Distracted/Unknown Reason',18:'Distracted/Unknown Reason',19:'Distracted/Unknown Reason',92:'Distracted/Unknown Reason',93:'Distracted/Unknown Reason',98:'Distracted/Unknown Reason',1:'Looked But Did Not See',3:'By Other Occupants',4:'By a Moving Object In Vehicle',5:'Cell Phone',6:'Cell Phone',7:'Adjusting Audio or Climate Controls',9:'Adjusting Audio or Climate Controls',10:'Reaching ',12:'Distracted from outside',13:'Eating or Drinking',14:'Smoking Related',15:'Cell Phone',16:'No Driver',97:'Day Dreaming'}})
grouped = grouped.replace({'REGION':{1:'Northeast',2:'Midwest',3:'South',4:'West'}})
grouped = grouped.replace({'URBANICITY':{1:'Urban',2:'Rural'}})

In [41]:
grouped_path = os.path.join('Results','distracted_clean.csv')
grouped.to_csv(grouped_path)

In [38]:
quick_stats = grouped['MDRDSTRD'].value_counts()
quick_stats.to_frame()
quick_path = os.path.join('Results','distracted_stats.csv')
quick_stats.to_csv(quick_path)

C:\Users\youss\Anaconda3v2\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [39]:
region_stats = grouped['REGION'].value_counts()
region_stats.to_frame()
region_path = os.path.join('Results','region_stats.csv')
region_stats.to_csv(region_path)

C:\Users\youss\Anaconda3v2\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [40]:
urb_stats = grouped['URBANICITY'].value_counts()
urb_stats.to_frame()
urb_path = os.path.join('Results','urb_stats.csv')
urb_stats.to_csv(urb_path)

C:\Users\youss\Anaconda3v2\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.